<%= form_for(@commentvote) do |f| %>
  <% if @commentvote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commentvote.errors.count, "error") %> prohibited this commentvote from being saved:</h2>

      <ul>
      <% @commentvote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
